header {
	background: #c75665;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 70px;
}

.hren{
    padding: 0 0 0 0;
	max-width:  960px;
	margin: 0 auto 0 auto;
    height: 70px;
}

.header_text{
    font-family: 'Arial', sans-serif;
    color:rgb(170, 44, 139);
    font-size: 350%;
}

.logo{
    width: 150px; 
    height: 70px; 
    background: url(logo.jpeg);
    float:  left;
}

.menu{
    list-style: none;
}
.menu li{
    display: inline-block;
}

footer{
    background: #c75665;
}

.footer_text{
    font-family: 'Arial', sans-serif;
    color:rgb(170, 44, 139);
    font-size: 350%;
    text-align: center;
}

body{
    text-align: center;
    margin-bottom: 0 auto;
}
ol{display:inline-block;}

table {
    width: 300px; 
    border: 1px solid green; 
    margin: auto; 
   }

